@using Xms.Solution.Abstractions;
@model Xms.Web.Customize.Models.ReportModel


<div class="panel panel-info" id="gridview">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>@app.PrivilegeTree?.LastOrDefault().DisplayName</strong>
            <div class="pull-right">
                <a class="btn btn-info btn-xs" data-toggle="collapse"
                   href="#collapseOne">
                    <span class="caret"></span> @app.T["search"]
                </a>
                <a class="btn btn-info btn-xs" href="@("/"+app.OrganizationUniqueName)/customize/report/createreport?solutionid=@Model.SolutionId"><span class="glyphicon glyphicon-file"></span> @app.T["add"]</a>
            </div>
        </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <!--in-->
        <div class="panel-body">
            <form action="/@app.OrganizationUniqueName/customize/@app.ControllerName/@app.ActionName" method="get" id="searchForm" class="form-horizontal" role="form">
                @Html.HiddenFor(x => x.EntityId)
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label" for="Name">@app.T["name"]</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-search"></span> @app.T["search"]</button>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed" id="datatable" data-refresh="rebind()" data-ajax="true" data-ajaxcontainer="gridview" data-ajaxcallback="ajaxgrid_reset()" data-sortby="@Model.SortBy.ToLower()" data-sortdirection="@Model.SortDirection" data-pageurl="@Url.ActionUrl(this.ViewContext)">
            <thead>
                <tr>
                    <th width="2%"><input type="checkbox" name="checkall" /></th>
                    <th width="15%" data-name="name">
                        @app.T["name"]
                    </th>
                    <th data-name="description">
                        @app.T["description"]
                    </th>
                    <th width="15%" data-name="createdon">
                        @app.T["create_time"]
                    </th>
                    <th width="25%">@app.T["operation"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr data-dbclick="location.href='@("/"+app.OrganizationUniqueName)/admin/business/editreport?solutionid=@Model.SolutionId&id=@item.ReportId'">
                        <td><input type="checkbox" value="@item.ReportId" name="recordid" /></td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.CreatedOn</td>
                        <td>
                            <a class="btn btn-info btn-xs" href="/webforms/reportviewer.aspx?id=@item.ReportId&orgid=@item.OrganizationId" target="_blank"><span class="glyphicon glyphicon-play-circle"></span> @app.T["preview"]</a>
                            <a class="btn btn-default btn-xs" href="@("/"+app.OrganizationUniqueName)/customize/report/editreport?id=@item.ReportId"><span class="glyphicon glyphicon-edit"></span> @app.T["edit"]</a>
                            <a class="btn btn-warning btn-xs" href="javascript:Xms.Web.Del('@item.ReportId','@("/"+app.OrganizationUniqueName)/customize/report/deletereport',false,rebind,null,'确定删除？请提前备份数据',true)"><span class="glyphicon glyphicon-trash"></span> @app.T["delete"]</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="active">
                        <button type="button" class="btn btn-xs btn-primary" data-action="/customize/report/deletereport" data-role="delete" data-tooltip="删除后相关数据也将一并删除，请提前备份数据"><span class="glyphicon glyphicon-trash"></span> @app.T["batch_delete"]</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-4">
                @(app.T["pagination_label"].Replace("{page}", Model.Page.ToString()).Replace("{totalpages}", Model.TotalPages.ToString()).Replace("{totalitems}", Model.TotalItems.ToString()))
            </div>
            <div id="page-selection" class="col-sm-8" data-total="@Model.TotalPages" data-page="@Model.Page"></div>
        </div>
    </div>
</div>

@section Header {
}
@section Scripts {
    <script src="/content/js/jquery.bootpag.min.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery.form.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script>
        var pageUrl = '';
        $(function () {
            pageUrl = $("#datatable").attr('data-pageurl');
            $('#searchForm').ajaxSearch('#gridview', ajaxgrid_reset);
            $("#datatable").ajaxTable();
            ajaxgrid_reset();
        });
        function ajaxgrid_reset() {
            pag_init();
            Xms.Web.DataTable($("#datatable"));
        }
        function pag_init() {
            $('#page-selection').bootpag({
                total: $('#page-selection').attr('data-total')
                , maxVisible: 10
                , page: $('#page-selection').attr('data-page')
                , leaps: false
                , prev: '&lsaquo;'
                , next: '&rsaquo;'
                , firstLastUse: true
                , first: '&laquo;'
                , last: '&raquo;'
            }).on("page", function (event, /* page number here */ num) {
                event.preventDefault();
                pageUrl = $("#datatable").attr('data-pageurl');
                var url = $.setUrlParam(pageUrl, 'page', num);
                $("#gridview").ajaxLoad(url, "#gridview", function (response) {
                    ajaxgrid_reset();
                });
                return false;
            });
        }
        function rebind() {
            $('#searchForm').submit();
        }
    </script>
}