@model Xms.Web.Customize.Models.EditQueryViewModel

<div class="">

    <div id="collapseTwo" class="">
        <div class="">
            <form action="/@app.OrganizationUniqueName/customize/@app.ControllerName/@app.ActionName" method="post" id="editform" class="form-horizontal" role="form">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(x => x.SolutionId)
                @Html.HiddenFor(x => x.QueryViewId)
                @Html.HiddenFor(x => x.EntityId)
                @Html.HiddenFor(x => x.FetchConfig)
                @Html.HiddenFor(x => x.LayoutConfig)
                <input type="hidden" id="AggregateConfig" name="AggregateConfig" value="" />
                <input type="hidden" id="EntityName" name="EntityName" value="@Model.EntityMetaData.Name" />

                <div class="row position-relative ml-0">
                    <div class="col-sm-3">
                        <div class="tab-pane in active" id="info" style="padding:5px;">
                            <div class="form-group-head"><i class="glyphicon glyphicon-chevron-down"></i>基本信息</div>
                            <div class="form-group ">
                                @Html.LabelFor(x => x.Name, app.T["name"], new { @class = "col-sm-2 control-label", style = "padding:7px 0 0 0; white-space:nowrap;" })
                                <div class="col-sm-10" style="padding-right:0;">
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control required" })
                                </div>
                            </div>
                            <div class="form-group hide">
                                @Html.LabelFor(x => x.IsDefault, app.T["default_view"], new { @class = "col-sm-2 control-label", style = "padding:7px 0 0 0; white-space:nowrap;" })
                                <div class="col-sm-10" style="padding-right:0;">
                                    <label class="checkbox-inline">
                                        @Html.RadioButtonFor(x => x.IsDefault, true, new { @class = "required" }) @app.T["yes"]
                                    </label>
                                    <label class="checkbox-inline">
                                        @Html.RadioButtonFor(x => x.IsDefault, false, new { @class = "required" }) @app.T["no"]
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="JsLibrary" style="padding:7px 0 0 0; white-space:nowrap;">Web资源</label>
                                <div class="col-sm-10" style="padding-right:0;">
                                    <input type="text" class="form-control input-sm lookup" name="jslibrary_text" id="jslibrary_text" />
                                    <input type="hidden" name="jslibrary" id="jslibrary" />
                                </div>
                            </div>
                            <div class="form-group hide">
                                @Html.LabelFor(x => x.IsSimpleFilter, app.T["simple_filter_mode"], new { @class = "col-sm-2 control-label", style = "padding:7px 0 0 0; white-space:nowrap;" })
                                <div class="col-sm-10" style="padding-right:0;">
                                    <label class="checkbox-inline">
                                        @Html.RadioButtonFor(x => x.IsSimpleFilter, true, new { @class = "required" }) @app.T["enabled"]
                                    </label>
                                    <label class="checkbox-inline">
                                        @Html.RadioButtonFor(x => x.IsSimpleFilter, false, new { @class = "required" }) @app.T["disabled"]
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Description, app.T["description"], new { @class = "col-sm-2 control-label", style = "padding:7px 0 0 0; white-space:nowrap;" })
                                <div class="col-sm-10" style="padding-right:0;">
                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TargetFormId" class="col-sm-2 control-label" style="padding:7px 0 0 0; white-space:nowrap;">默认表单</label>
                                <div class="col-sm-10" style="padding-right:0;">
                                    <select id="TargetFormId" name="TargetFormId" class="form-control"></select>
                                </div>
                            </div>

                            <div class="form-group-head  pt-2"><i class="glyphicon glyphicon-chevron-down"></i>实体字段<span class="text-info">(可拖到或双击添加)</span></div>
                            <div class="form-group">
                                <div class="">
                                    <select id="entities" class="form-control">
                                        <option data-relationship="" data-referencingattributelocalizedname="" value="@Model.EntityId">@Model.EntityMetaData.LocalizedName</option>
                                    </select>
                                    <div class="" style="height:220px; border:1px solid #eee; border-top:none;  overflow-y:scroll;">
                                        <ul id="attributes" class="list-unstyled connectedSortable" data-bind="foreach: items" style="background:#eee; line-height:25px; height:30px;">
                                            <li class="mutil-list-item" data-bind="text: localizedname, attr: { 'data-name': name, 'data-entityname': entityname, 'data-entitylocalizedname': entitylocalizedname }">
                                                <span class="glyphicon glyphicon-screenshot"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="tab-pane" id="buttons">
                            <div class="">
                                <div class="pl-3">
                                    <div class="form-group-head"><i class="glyphicon glyphicon-chevron-down"></i>@app.T["queryview_buttons"]</div>
                                    <span class="">
                                        <label class="checkbox-inline" style="padding-top:0;">
                                            @Html.RadioButtonFor(x => x.IsCustomButton, false, new { @class = "required" }) @app.T["queryview_allbutton"]
                                        </label>
                                        <label class="checkbox-inline" style="padding-top:0;">
                                            @Html.RadioButtonFor(x => x.IsCustomButton, true, new { @class = "required" }) @app.T["queryview_custombutton"]
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix  pt-5">

                            <div class="col-sm-12">
                                <div class="form-group-head"><i class="glyphicon glyphicon-chevron-down"></i>@app.T["list_layout"]</div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info btn-xs" onclick="moveColumn('before')" title="@app.T["left_shift"]">
                                        <span class="glyphicon glyphicon-arrow-left"></span> @app.T["left_shift"]
                                    </button>
                                    <button type="button" class="btn btn-info btn-xs" onclick="moveColumn('after')" title="@app.T["right_shift"]">
                                        <span class="glyphicon glyphicon-arrow-right"></span> @app.T["right_shift"]
                                    </button>
                                    <button type="button" class="btn btn-info btn-xs" onclick="removeColumn()" title="@app.T["delete"]">
                                        <span class="glyphicon glyphicon-trash"></span> @app.T["delete"]
                                    </button>
                                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#filterModal" title="@app.T["filter_condition"]">
                                        <span class="glyphicon glyphicon-filter"></span> @app.T["filter_condition"]
                                    </button>
                                    <button type="button" class="btn btn-info btn-xs" onclick="openSortModal()" title="@app.T["sort"]">
                                        <span class="glyphicon glyphicon-sort"></span> @app.T["sort"]
                                    </button>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-condensed" id="editFormTable">
                                        <caption></caption>
                                        <thead>
                                            <tr id="views" class="connectedSortable" style="height:30px; background:#eee;">
                                                <th class="small text-danger ui-state-disabled shadow">@app.T["attributes_drag_hint"]</th><!--从左边将属性拖放到这里-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr><td class="small text-muted ui-state-disabled shadow">@app.T["data"]</td></tr>
                                            <tr><td class="small text-muted ui-state-disabled shadow">@app.T["data"]</td></tr>
                                            <tr><td class="small text-muted ui-state-disabled shadow">@app.T["data"]</td></tr>
                                            <tr><td class="small text-muted ui-state-disabled shadow">@app.T["data"]</td></tr>
                                            <tr><td class="small text-muted ui-state-disabled shadow">@app.T["data"]</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix mb-1 ml-3 mt-2">
                            <div class="addView btn btn-xs btn-info" style="" onclick="addView()"><span class="glyphicon glyphicon-plus"></span> 增加行事件</div>
                        </div>

                        <div class="tab-pane rowcommand-box" id="rowcommand" style="padding:5px;">

                            <div class="well mt-1" style="position:relative;display:none;">
                                <span class="removeView glyphicon glyphicon-remove" style="position: absolute;right: 2px;top: 42%;cursor:pointer" onclick="removeView(this)"></span>

                                <div class="rowC-item" style="padding:10px;display: inline-block;">
                                    <label class="text-muted">类型：</label>
                                    <select class="EventType form-control input-sm" style="width: 95px;display: inline;">
                                        <option value="onbinding">行绑定时</option>
                                    </select>
                                </div>
                                <div class="rowC-item" style="padding:10px;display: inline;" class="AttributeName">
                                    <label class="text-muted">逻辑：</label>
                                    <select class="LogicalOperator form-control input-sm" style="width: 70px;display: inline;">
                                        <option value="or">或者</option>
                                        <option value="and">并且</option>
                                    </select>
                                </div>
                                <div style="display: inline-table;" class="rowC-item judgeBox">
                                    <div class="judgeView" style="width:527px;display:inline;">
                                        <div style="padding:10px;display:inline;" class="AttributeName">
                                            <label class="text-muted">字段：</label>
                                            <select class="ziduan form-control input-sm" style="width: 80px;display: inline;"></select>
                                        </div>

                                        <div style="padding:10px;display: inline-block;">
                                            <label class="text-muted">操作符：</label>
                                            <select class="Operator form-control input-sm" style="width: 70px;display: inline;">
                                                <option value="Equel">等于</option>
                                            </select>
                                        </div>
                                        <div style="padding:10px;display: inline-block;">
                                            <label class="text-muted">值：</label>
                                            <span class="Values">
                                                <input type='text' class='form-control' name="value" data-value="" style='' placeholder='输入值' value=''>
                                            </span>
                                        </div>
                                        <span class="addMove glyphicon glyphicon-plus" onclick="checkAdd(this)" style="cursor:pointer;"></span>
                                    </div>
                                </div>
                                <div class="rowC-item" style="padding:10px;display: inline-block;">
                                    <label class="text-muted">动作类型：</label>
                                    <select class="ActionType form-control input-sm" style="width: 90px;display: inline;">
                                        <option value="SetRowBackground">背景色</option>
                                    </select>
                                </div>

                                <div class="ColorBack rowC-item" style="padding:10px;display: inline;">
                                    <div class="actionSet" style="display: inline;" data-key="color">
                                        <label class="text-muted">颜色： </label>
                                        <span class="ColorSite">
                                            <input type='text' class='form-control actioncolor colorpicker' data-value="" style='display: inline;height:30px;width: 70px;' placeholder='输入值' value=''>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="myTabContent" class="tab-content">
                </div>

                <div class="rightModal" id="existsButtons" style="" tabindex="-1">
                    <div class="rightModal-dialog">
                        <div class="rightModal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    设置按钮
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-condensed">
                                            <thead>
                                                <tr>
                                                    <th style="white-space: nowrap;width:10%; text-align:center;"><input type="checkbox" name="checkall" checked title="显示"> </th>
                                                    <th style="white-space: nowrap;">按钮</th>
                                                    <th style="white-space: nowrap;">位置</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Buttons)
                                                {
                                                    var flag = Model.ButtonId.NotEmpty() ? Model.ButtonId.Contains(item.RibbonButtonId) : false;
                                                    <tr>
                                                        <td class="text-center">
                                                            <input type="checkbox" name="buttonid" value="@item.RibbonButtonId" checked />
                                                        </td>
                                                        <td><a href="javascript:;" class="@item.CssClass"><span class="@item.Icon"></span> @item.Label</a></td>
                                                        <td>@(item.ShowArea == Xms.RibbonButton.Abstractions.RibbonButtonArea.ListHead ? "表头" : "行内")</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <div class="form-group col-sm-12 text-center" id="form-buttons">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-saved"></span> @app.T["save"]</button>
                    <button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> @app.T["reset"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--排序设置-->
<div class="modal fade" id="sortModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    @app.T["times_sign"]
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    @app.T["sort_set"]
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group col-sm-12">
                    <label for="sortparm1" class="col-sm-12">@app.T["first_sort_field"]</label>
                    <div class="col-sm-8">
                        <select onchange="changeSort(this)" id="sortparm1" name="sortparm1" class="form-control input-sm">
                            <option value="">@app.T["default"]</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label><input type="radio" name="sorttype1" value="ascending" checked="checked" />@app.T["asc_order"]</label>
                        <label><input type="radio" name="sorttype1" value="descending" />@app.T["desc_order"]</label>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label for="sortparm2" class="col-sm-12">@app.T["second_sort_field"]</label>
                    <div class="col-sm-8">
                        <select onchange="changeSort(this)" id="sortparm2" name="sortparm2" class="form-control input-sm"></select>
                    </div>
                    <div class="col-sm-4">
                        <label>
                            <input type="radio" name="sorttype2" value="ascending" checked="checked" />@app.T["asc_order"]
                        </label>
                        <label><input type="radio" name="sorttype2" value="descending" />@app.T["desc_order"]</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    @app.T["dialog_close"]
                </button>
                <button type="button" class="btn btn-primary" onclick="saveSortParams()">
                    @app.T["confirm_alter"]
                </button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->
<!-- 列参数设置（Modal） -->
<div class="rightModal" id="columnModal" tabindex="-1">
    <div class="rightModal-dialog">
        <div class="rightModal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    列参数
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="columnattributename">字段</label>
                    <input id="columnattributename" name="columnattributename" readonly type="text" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <label for="columnlabel">标签</label>
                    <input id="columnlabel" name="columnlabel" type="text" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <label for="columnwidth">宽度</label>
                    <input id="columnwidth" name="columnwidth" type="text" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <label for="columnvisibled">
                        显示
                        <input id="columnvisibled" name="columnvisibled" type="checkbox" />
                    </label>
                </div>
                <div class="form-group">
                    <label for="columnstatistical">统计</label>
                    <select id="columnstatistical" name="columnstatistical" type="text" class="form-control input-sm">
                        <option value="">请选择</option>
                        <option value="Sum">总和</option>
                        <option value="Max">最大值</option>
                        <option value="Min">最小值</option>
                        <option value="Avg">平均值</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" onclick="saveColumnParams()">
                    确定更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 过滤条件设置（Modal） -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:700px; height:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    @app.T["times_sign"]
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    @app.T["filter_condition_set"]
                </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive" style="width:650px; height:400px; overflow:auto;">
                    <div class="form-group">
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-info" onclick="clearConditions()">
                                <span class="glyphicon glyphicon-trash"></span> @app.T["clear"]
                            </button>
                            <button type="button" class="btn btn-info" onclick="groupConditions('and')">
                                <span class="glyphicon glyphicon-link"></span> @app.T["and_combination"]
                            </button>
                            <button type="button" class="btn btn-info" onclick="groupConditions('or')">
                                <span class="glyphicon glyphicon-link"></span> @app.T["or_combination"]
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <table id="filterConditions" class="table table-condensed table-selected">
                            <thead class="hide">
                                <tr>
                                    <th></th>
                                    <th>@app.T["name"]</th>
                                    <th>@app.T["comparison"]</th>
                                    <th>@app.T["numerical_value"]</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr class="hide filterrow">
                                    <td style="width:10px;">
                                        <input type="checkbox" />
                                    </td>
                                    <td style="width:33%">
                                        <select name="filtername" class="form-control input-sm" onchange="onChangeAttribute(this)"></select>
                                    </td>
                                    <td style="width:33%">
                                        <select name="filteroperator" class="form-control input-sm" defaultselected="eq"><option value="eq" title="@app.T["equality"]">@app.T["equality"]</option><option value="ne" title="@app.T["unequal"]">@app.T["unequal"]</option><option value="not-null" title="@app.T["contain_data"]">@app.T["contain_data"]</option><option value="null" title="@app.T["exclusive_data"]">@app.T["exclusive_data"]</option><option value="contains" title="@app.T["contain"]" fetchop="like" fetchval="%{0}%">@app.T["contain"]</option><option value="doesnotcontain" title="@app.T["exclusive"]" fetchop="not-like" fetchval="%{0}%">@app.T["exclusive"]</option><option value="beginswith" title="开头等于" fetchop="like" fetchval="{0}%">开头等于</option><option value="doesnotbeginwith" title="开头不等于" fetchop="not-like" fetchval="{0}%">开头不等于</option><option value="endswith" title="结尾等于" fetchop="like" fetchval="%{0}">结尾等于</option><option value="doesnotendwith" title="结尾不等于" fetchop="not-like" fetchval="%{0}">结尾不等于</option></select>
                                    </td>
                                    <td style="width:33%">
                                        <input type="text" name="filtervalue" class="form-control input-sm" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <select id="filternamelist" name="filtername" class="form-control input-sm" onchange="addCondition(this)">
                                            <option value="">请选择</option>
                                        </select>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    @app.T["dialog_close"]
                </button>
                <button type="button" class="btn btn-primary" onclick="saveFilter()">
                    @app.T["confirm_alter"]
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->r
</div><!-- /.modal -->
@section Header{
    <link rel="stylesheet" href="/content/js/jquery-ui-1.10.3/themes/base/jquery.ui.theme.css?v=@app.PlatformSettings.VersionNumber">
    <link href="/content/js/bootstrap-datepicker-1.5.0/css/bootstrap-datepicker3.min.css?v=@app.PlatformSettings.VersionNumber" rel="stylesheet">
    <link href="/content/css/sumoselect.css?v=@app.PlatformSettings.VersionNumber" rel="stylesheet" />
    <link href="/content/js/colorpicker/spectrum.css?v=@app.PlatformSettings.VersionNumber" rel="stylesheet" />
    <style>
        .ui-state-highlight {
            /*height: 25px;
            line-height: 25px;*/
            width: 50px;
            border-bottom: 3px #000 solid;
            list-style: none;
            height: 50px;
        }

        .selected {
            /*border: 1px solid blue;*/
            background: #d9edf7;
        }

            .selected a {
                font-weight: bolder;
            }

        .table {
            margin-bottom: 0px !important;
        }

        #attributes li {
            cursor: move;
            padding-left: 5px;
            padding-right: 5px;
        }
    </style>
}
@section Scripts {
    <script src="/content/js/jquery-ui-1.10.3/ui/jquery.ui.core.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery-ui-1.10.3/ui/jquery.ui.widget.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery-ui-1.10.3/ui/jquery.ui.mouse.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery-ui-1.10.3/ui/jquery.ui.sortable.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery-ui-1.10.3/ui/jquery.ui.draggable.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery-ui-1.10.3/ui/jquery.ui.droppable.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery.form.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery-validate/jquery.validate.min.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery-validate/localization/messages_zh.min.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/xms.metadata.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/xms.utility.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/bootstrap-datepicker-1.5.0/js/bootstrap-datepicker.min.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/bootstrap-datepicker-1.5.0/locales/bootstrap-datepicker.zh-CN.min.js?v=@app.PlatformSettings.VersionNumber" charset="UTF-8"></script>
    <script src="/content/js/filterdialog.js?v=23244_@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/fetch.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/colorpicker/spectrum.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery.sumoselect.js?v=@app.PlatformSettings.VersionNumber"></script>
    @{await Html.RenderPartialAsync("FetchLabel"); }
    <script src="/content/js/pages/customize.queryview.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script>
        var QueryObject = { Distinct: false, NoLock: true, EntityName: $('#EntityName').val().toLowerCase(), Criteria: new FilterExpression(), Orders: new Array(), ColumnSet: { AllColumns: false, Columns: new Array() }, LinkEntities: new Array() };
        var Relationships;
        var AttributesList = [];
        var EntityId = $('#EntityId').val();
    </script>

    <script>

        $(function () {
            Xms.Web._callParentMethod('changeLeftWrapState');
            $("#editform").on('submit', function () {
                saveRowCommandValue();
            })
            //表单验证
            Xms.Web.Form($("#editform"), function (response) {
                $('#FetchConfig').val('');
                $('#LayoutConfig').val('');
                Xms.Web.Event.publish('refresh');
                Xms.Web.Event.localStorageEvent.trigger('list_queryview_rebind');
                Xms.Web.Alert(response.IsSuccess, response.Content, function () {
                    if (response.IsSuccess) {
                        location.reload(true);
                    }
                });
            }, '', function () {
                if ($("#views").find('th:not(.shadow)').length <= 0) {
                    Xms.Web.Alert(false, '请至少选择一个字段');
                    return false;
                }
                var $isauthorization = $('#IsAuthorization');
                if ($isauthorization.prop('checked')) {
                    if (!$('#securityUser').val() || $('#securityUser').val() == '') {
                        Xms.Web.Alert(false, "请先勾选角色");
                        return false;
                    }
                }
                var flag = saveRowCommandValue();
                if (flag == false && flag.length != 0) {
                    Xms.Web.Alert(false, '请先选择行事件的字段名和操作符');
                    return false;
                }
            });

            $.get(ORG_SERVERURL + '/filter/screenconditions', null, function (data) {
                $('#filterModal').find('.modal-body').replaceWith(data);
            })
            $('body').on('change', 'select[name=filteroperator]', function () {
                var type = $(this).parent().prev().find('option:selected').attr('data-type');
                var attributeid = $(this).parent().prev().find('option:selected').attr('data-attributeid');
                var optionsetid = $(this).parent().prev().find('option:selected').attr('data-optionsetid');

                FilterDialog.bindInput($(this), $(this).parent().next().find('input'), type, attributeid, $('#EntityId').val(), getDdlItems(type), optionsetid)

            })
            $("#attributes, #views").sortable({
                connectWith: ".connectedSortable"
                , placeholder: "ui-state-highlight"
                //, revert: true
                , opacity: 0.3
                //, forcePlaceholderSize: true
                , cursor: "move"
                , cancel: ".ui-state-disabled"
                , stop: function () {
                    resizeTableHead();
                    saveGridConfig();
                }
            }).disableSelection();
            $("#attributes").on("sortreceive", function (event, ui) {
                //console.log(event, ui);
                var old = $("#attributes").find('th');
                old.find('span').removeClass('hide');
                var name = li.attr('data-name').toLowerCase();
                var relationship = li.attr('data-relationship') || '';
                var entityname = li.attr('data-entityname').toLowerCase();
                var entitylocalizedname = li.attr('data-entitylocalizedname');
                var referencingattributelocalizedname = li.attr('data-referencingattributelocalizedname') || '';
                var referencedentityid = li.attr('data-referencedentityid') || '';
                var attributesid = li.attr('data-attributesid') || '';
                var optionsetid = li.attr('data-optionsetid') || '';
                var el = $('<li class="mutil-list-item">' + old.text() + '</li>');
                el.attr({ 'data-relationship': relationship, 'data-type': datatype, 'data-referencingattributelocalizedname': referencingattributelocalizedname, 'data-name': name, 'data-entityname': entityname, 'data-referencingattributename': referencingattributename, 'data-entitylocalizedname': entitylocalizedname, 'data-referencedentityid': referencedentityid, 'data-attributesid': attributesid, 'data-optionsetid': optionsetid, 'data-width': 100, 'data-visibled': true, 'data-sorttype': '' });
                old.replaceWith(el);
                saveGridConfig();
                resizeTableHead();
            });
            /*双击列表自动添加到表格里*/
            $("#attributes").on('dblclick', 'li', function () {
                $("#views").append($(this));
                $("#views").trigger('sortreceive');
                resizeTableHead();
            });
            $("#views").on("sortreceive", function (event, ui) {
                console.log(event, ui);
                var li = $("#views").find('li');
                li.find('span').addClass('hide');
                var name = li.attr('data-name').toLowerCase();
                var relationship = li.attr('data-relationship') || '';
                var datatype = li.attr('data-type').toLowerCase();
                var entityname = li.attr('data-entityname').toLowerCase();
                if (attributeIsExists(entityname, name, relationship)) return;//已存在
                var entitylocalizedname = li.attr('data-entitylocalizedname');
                var referencedentityid = li.attr('data-referencedentityid') || '';
                var referencingattributelocalizedname = li.attr('data-referencingattributelocalizedname') || '';
                var referencingattributename = li.attr('data-referencdattributename') || '';
                var referencedentityid = li.attr('data-referencedentityid') || '';
                var attributesid = li.attr('data-attributesid') || '';
                var optionsetid = li.attr('data-optionsetid') || '';
                var localizedname = li.attr('data-localizedname') || '字段名';
                //var text = entityname == QueryObject.EntityName.toLowerCase() ? li.text() : li.text() + '(' + entitylocalizedname + ')';
                var text = relationship ? localizedname + '(' + referencingattributelocalizedname + ')' : localizedname;
                var el = $('<th style="width:100px;" class="tableHeaderItem"><span class="th-label">' + text + '</span></th>');
                el.attr({ 'data-relationship': relationship, 'data-type': datatype, 'data-referencingattributelocalizedname': referencingattributelocalizedname, 'data-name': name, 'data-entityname': entityname, 'data-referencedentityid': referencedentityid, 'data-referencingattributename': referencingattributename, 'data-entitylocalizedname': entitylocalizedname, 'data-localizedname': localizedname, 'data-width': 100, 'data-attributesid': attributesid, 'data-optionsetid': optionsetid, 'data-label': text, 'data-visibled': true, 'data-sorttype': '' });
                if ($("#views").find('th').length == 1)//如果只有一个占位列，则默认第一个加的排序
                {
                    el.attr({ 'data-sorttype': "ascending", 'data-sortnum': 'one' });
                }
                var item = {
                    'name': name,
                    'entityname': entityname,
                    'html': li.clone(),
                    'relationship': relationship,
                    'text': text
                    , 'localizedname': localizedname
                };
                AttributesList.push(item);
                var tableWidth = 0;
                $("#views").find('th:not(".shadow")').each(function () {
                    tableWidth += $(this).outerWidth();
                });
                tableWidth += 100;
                console.log('tableWidth', tableWidth);
                $("#views").parents('table').width(tableWidth);
                if ($("#views").find('th').length <= 1) {
                    $("#views").append(el);
                    li.remove();
                }
                else {
                    li.replaceWith(el);
                }
               // resizeTableHead();
                $("#views").parents('table').find('tbody tr').append('<td class="small text-muted ui-state-disabled">@app.T["data"]</td>');
                $("#views").parents('table').find('.shadow').addClass('hide').width(0);
                saveGridConfig();

               // addAttributeToInput();
            });
            $("#views").on("sortremove", function (event, ui) {
                var td = $("#views").parents('table').find('tbody tr').find('td:last');
                if (td) td.remove();
                if ($("#views").find('th:not(.shadow)').length == 0)
                    $("#views").parents('table').find('.shadow').removeClass('hide');
                saveGridConfig();
            });

            $.when(loadEntities()).done(loadAttributes(function () {
                 $('#renderBody').css('margin-bottom', 27);
                $.fullHeight($('#attributes').parent(),-135);
            }));
            loadFilterAttributes();

            //列表列选中
            $("#views").on('click', 'th', function () {
                $(this).parent().siblings().removeClass('selected');
                $(this).parent().addClass('selected');
                setTimeout(function () {
                    editColumnParams();
                }, 16.77);
            });
            $("#views").on('click', 'th', function () {
                $("#views").find('th').removeClass('selected');
                $(this).toggleClass('selected');
            });
            //过滤条件行单击时选中
            //Xms.Web.TableSelected('.table-selected', '.filterrow');
            $('#filterConditions').on('click', ':checkbox', function (e) {//input[name=filtergroup]
                var ischecked = $(this).prop('checked');
                if (ischecked) {
                    $(this).parents('tr').first().addClass('active');
                }
                else {
                    $(this).parents('tr').first().removeClass('active');
                }
            });
            $('#entities').on('change', null, function (e) {
                loadAttributes();
            });
            var $editform = $('#editform');
            //按钮
            $editform.on('click', 'input[name=iscustombutton]', function (e) {
                var flag = $(this).val();
                if (flag == 'True') {
                    $('#columnModal').removeClass('in');
                    $('#existsButtons').addClass('in');

                }
                else {
                    $('#existsButtons').removeClass('in');
                }
            });
            $editform.find("input[name=checkall]:not(:disabled)").on('click', null, function () {
                var flag = $(this).prop("checked");
                if (flag) {
                    $editform.find("input[name=buttonid]:not(:disabled)").prop("checked", true);
                    $editform.find("tbody > tr").addClass("active");
                }
                else {
                    $editform.find("input[name=buttonid]:not(:disabled)").removeProp("checked");
                    $editform.find("tbody > tr").removeClass("active");
                }
            });
            resizeTableHead();
            getFormsList($('#EntityId').val(), $('#TargetFormId'), false);

            $('#jslibrary_text').lookup({
                disabled: true,
                dialog: function () {
                    Xms.Web.OpenDialog('/customize/WebResource/Dialog?inputid=jslibrary_text', 'selectRecordCallback');
                }
                , clear: function () {
                    $('#jslibrary_text').val('');
                    $('#jslibrary').val('');
                    var _LayoutConfig = $('#LayoutConfig').val();
                    if (_LayoutConfig != "") {
                        var objRowdatas = JSON.parse(_LayoutConfig);
                    } else {
                        var objRowdatas = {};
                    }
                    var jslib = $('#jslibrary');
                    objRowdatas.ClientResources = [];
                    $('#LayoutConfig').val(JSON.stringify(objRowdatas));
                }
            });
            $('[data-dismiss="modal"]','.rightModal').on('click', function () {
                $(this).parents('.rightModal').removeClass('in');
            })

            var $rowcommand = $('#rowcommand');
            var rowCommandCn = { LogicalOperat4or: { or: "或者", and: "并且" }, EventType: { onbinding: "行绑定时" }, ActionType: { SetRowBackground: "设置背景" }, Action: { color: '背景色' } }
             $("body").on("click", function (e) {
                var target = $(e.target);
              if(target.closest(".rightModal").length != 0||target.closest("input[name=iscustombutton]").length != 0) return;
              $('.rightModal').removeClass('in');
            });
            $('body').on('change', '.Operator', function () {
                var type = $(this).parents('.judgeView').find('.ziduan option:selected').attr('data-type');
                var referencedentityid = $(this).parents('.judgeView:first').find('.ziduan').children('option:selected').attr('data-referencedentityid');;
                var attributeid = $(this).parents('.judgeView').find('.ziduan option:selected').attr('data-attributesid');
                var optionsetid = $(this).parents('.judgeView').find('.ziduan option:selected').attr('data-optionsetid');
                FilterDialog.bindInput($(this), $(this).parents('.judgeView').find('input[name=value]'), type, attributeid, referencedentityid, getDdlItems(type), optionsetid)
                // operatorChange.call(this);
                saveRowCommandValue();
            });
            $('body').on('change', '.judgeView .ziduan', function () {
                var operaInput = $(this).parents('.judgeView:first').find('.Operator');
                var datatype = $(this).children('option:selected').attr('data-type');
                loadFilterOperators(operaInput, datatype);
                setTimeout(function () {
                    operaInput.trigger('change');
                    // saveRowCommandValue();
                });

            });

            $('.ActionType').click(function () {
                if ($('.ActionType option:selected').text() == "背景色") {
                    $('.ColorBack').show();
                } else {
                    $('.ColorBack').hide();
                }
                saveRowCommandValue();
            })
            if ($('.ActionType option:selected').text() == "背景色") {
                $('.ColorBack').show();
            } else {
                $('.ColorBack').hide();
            }
            addAttributeToInput();
        });
    </script>

}