@model Xms.Web.Customize.Models.EditDuplicateRuleModel

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse"
               href="#collapseTwo">
                <strong>@app.PrivilegeTree?.LastOrDefault().DisplayName</strong>
            </a>
        </h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
        <div class="panel-body">
            <form action="/@app.OrganizationUniqueName/customize/@app.ControllerName/@app.ActionName" method="post" id="editform" class="form-horizontal" role="form">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(x => x.EntityId)
                @Html.HiddenFor(x => x.SolutionId)
                <div class="form-group col-sm-12">
                    <label class="col-sm-2 control-label">实体</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm hide" id="entityselecter" />
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    @Html.LabelFor(x => x.Name, app.T["name"], new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control required" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    @Html.LabelFor(x => x.Description, app.T["description"], new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = 3 })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    @Html.LabelFor(x => x.Intercepted, "拦截", new { @class = "col-sm-2 control-label" })<!--"状态"-->
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(x => x.Intercepted, true, new { @class = "required" }) @app.T["yes"]
                        </label>
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(x => x.Intercepted, false, new { @class = "required" }) @app.T["no"]
                        </label>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    @Html.LabelFor(x => x.StateCode, app.T["statecode"], new { @class = "col-sm-2 control-label" })<!--"状态"-->
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(x => x.StateCode, Xms.Core.RecordState.Enabled, new { @class = "required" }) @app.T["enabled"]
                        </label>
                        <label class="checkbox-inline">
                            @Html.RadioButtonFor(x => x.StateCode, Xms.Core.RecordState.Disabled, new { @class = "required" }) @app.T["disabled"]
                        </label>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-2 control-label" for="optionset-picklist">@app.T["condition"]</label>
                    <div class="col-sm-10">
                        <div id="optionset-area">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-xs" onclick="addOption('optionset-picklist')">
                                    <span class="glyphicon glyphicon-plus-sign"></span> @app.T["add"]
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" onclick="clearOption('optionset-picklist')">
                                    <span class="glyphicon glyphicon-trash"></span> @app.T["clear"]
                                </button>
                            </div>
                            <div class="text-muted pull-right">@app.T["field_cannot_repeated"]</div>
                            <table id="optionset-picklist" class="table">
                                <thead>
                                    <tr>
                                        <th>@app.T["attribute"]</th>
                                        <th>@app.T["ignore_empty"]</th>
                                        <th>@app.T["match_case"]</th>
                                        <th>@app.T["operation"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" name="attributeid" /></td>
                                        <td>
                                            <input type="checkbox" onclick="$(this).next().val($(this).prop('checked'))" />
                                            <input name="ignorenullvalues" type="hidden" value="false" />
                                        </td>
                                        <td>
                                            <input type="checkbox" onclick="$(this).next().val($(this).prop('checked'))" />
                                            <input name="iscasesensitive" type="hidden" value="false" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-warning btn-xs" onclick="removeOption('optionset-picklist', this)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12 text-center" id="form-buttons">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-saved"></span> @app.T["save"]</button>
                    <button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> @app.T["reset"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="/content/js/xms.metadata.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery.form.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery-validate/jquery.validate.min.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery-validate/localization/messages_zh.min.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script>
        var AttributeMetaDatas = [];
        $(function () {
            //select change 事件
            $('body').on('change', '#optionset-picklist select', function () {
                OptionState();
            })
            //表单验证
            Xms.Web.Form($("#editform"), function (response) {
                Xms.Web.Alert(response.IsSuccess, response.Content);
                Xms.Web.Event.publish('refresh');
            }, null, function () {
                if ($('#optionset-picklist').find('option[value=""]:selected').length == $('#optionset-picklist').find('select').length) {
                    Xms.Web.Alert(false, '请至少选择一个字段');
                    return false;
                }
            });

           loadAttribute();
            loadEntitys($('#entityselecter'));
        });
        function loadAttribute() {
            Xms.Schema.GetAttributes({ getall: true, entityid: $('#EntityId').val() }, function (response) {
                AttributeMetaDatas = [];
                $(response).each(function (i, n) {
                    var attr = {};
                    attr.id = n.attributeid;
                    attr.name = n.name;
                    attr.text = n.localizedname;
                    attr.value = n.attributeid;

                    AttributeMetaDatas.push(attr);
                });
                setAttributeOptions();
            });
        }
         function loadEntitys($context,callback) {
            var entitySelect = $context;
            entitySelect.entitySelector({
                rendered: function (self) {
                    var _entityid = $('#EntityId').val();
                    if (_entityid) {
                        var acli = self.listWrap.find('.xms-autoc-item[value="' + _entityid + '"]');
                        if (acli.length > 0) {
                            self.box.val(_entityid);
                            self.listWrap.hide();
                            self.vInput.val(acli.text());
                            self.value = acli.attr('value');
                            self.wrap.attr('data-isactive', false);
                            self.filterData();
                        }
                    }
                },
                submithandler: function (self, $this) {
                    $('#EntityId').val(self.value);
                    clearOption('optionset-picklist', true);
                    loadAttribute();
                },
                removehandler: function () {
                    $('#EntityId').val('00000000-0000-0000-0000-000000000000');
                    AttributeMetaDatas = [];
                    clearOption('optionset-picklist');
                   // loadAttribute();
                },
                inputPlaceHolder:'选择实体'
            });

        }
        function setAttributeOptions() {
            $('#optionset-picklist').find('input[name=attributeid]:not(.hide)').each(function () {
                $(this).removeAttr('data-picklistinit').removeAttr('data-instance');
                if ($(this).next('select').length > 0) {
                    $(this).next('select').remove()
                }
                var value = $(this).val();
                console.log(value)
                $(this).picklist({
                    isDefault: true,
                    items: AttributeMetaDatas
                });
            });
        }
        //增加选项
        function addOption(id) {
            var $target = $("#" + id);
            var newRow = $target.find('tr:last').clone();
            newRow.find('input[type=text]').val('');
            newRow.find('input[type=hidden]').val('');
            newRow.find('input[type=checkbox]').prop('checked', false).next().val(false);
            $target.append(newRow);
            $target.find('select:last').find('option:not(.hide)').eq(1).prop('selected', true).trigger('change');
            OptionState();
            setAttributeOptions();
            return newRow;
        }
        //删除选项
        function removeOption(id, row) {
            var $target = $("#" + id);
            if ($(row).parents('tr').siblings().length > 0) {
                $(row).parents('tr').remove();
            }
            else {
                var newRow = $(row).parents('tr');
                newRow.find('input[type=text]').val('');
                newRow.find('input[type=hidden]').val('');
                newRow.find('input[type=checkbox]').prop('checked', false);
                setAttributeOptions();
            }
        }
        //清空选项
        function clearOption(id,isSetOptions) {
            var $target = $("#" + id);
            $target.find('tbody').find('tr:gt(0)').remove();
            var newRow = addOption(id, newRow).clone(true);
            newRow.find('input[name="attributeid"]').removeClass('hide');
            $target.find('tbody').empty();
            $target.find('tbody').append(newRow);
            if (!isSetOptions) {
                setAttributeOptions();
            }
        }
        function OptionState() {
            $('#optionset-picklist option').removeClass('show');
            $('#optionset-picklist select').each(function (i, n) {
                var val = $(n).find('option:selected').val();
                $(n).find('option[value=""]').addClass('hide');
                $(n).parents('tr').siblings('tr').find('option[value="' + val + '"]').addClass('hide');
            });
        }
    </script>
}