@model Xms.Web.Customize.Models.AttributeModel

<div class="panel panel-info" id="gridview">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>@Model.Entity.LocalizedName</strong>
            <div class="pull-right">
                <a class="btn btn-info btn-xs" data-toggle="collapse"
                   href="#collapseOne">
                    <span class="caret"></span> @app.T["search"]
                </a>
                <a class="btn btn-info btn-xs" href="@("/"+app.OrganizationUniqueName)/customize/attribute/createattribute?solutionid=@Model.SolutionId&entityid=@Model.EntityId">
                    <span class="glyphicon glyphicon-file"></span> @app.T["add"]
                </a>
            </div>
        </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
            <form action="/@app.OrganizationUniqueName/customize/attribute/index" method="get" id="searchForm" class="form-horizontal" role="form">
                @Html.ValidationSummary()
                @Html.HiddenFor(x => x.EntityId)
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label" for="Name">@app.T["name"]</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-search"></span> @app.T["search"]</button>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed datatable" id="datatable" data-refresh="rebind()" data-ajax="true" data-ajaxcontainer="gridview" data-ajaxcallback="ajaxgrid_reset()" data-sortby="@Model.SortBy.ToLower()" data-sortdirection="@Model.SortDirection" data-pageurl="@app.Url">
            <thead>
                <tr>
                    <th width="2%"><input type="checkbox" name="checkall" /></th>
                    <th data-name="name">
                        @app.T["attribute_name"]
                    </th>
                    <th width="20%" data-name="localizedname">
                        @app.T["attribute_displayname"]
                    </th>
                    <th width="10%" data-name="attributetypename">
                        @app.T["attribute_typename"]
                    </th>
                    <th width="10%" data-name="isrequired">
                        @app.T["required"]
                    </th>
                    <th width="10%" data-name="isloged">
                        @app.T["attribute_isloged"]
                    </th>
                    <th width="15%" data-name="createdon">
                        @app.T["attribute_createdon"]
                    </th>
                    <th width="15%">
                        @app.T["operation"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr data-dbclick="location.href='@("/"+app.OrganizationUniqueName)/customize/attribute/editattribute?solutionid=@Model.SolutionId&id=@item.AttributeId'">
                        <td><input type="checkbox" value="@item.AttributeId" name="recordid" /></td>
                        <td>
                            @if (item.IsPrimaryField)
                            {
                                <span class="label label-primary">@item.Name</span>
                            }
                            else
                            {
                                @item.Name
                            }
                        </td>
                        <td>@item.LocalizedName</td>
                        <td>@item.AttributeTypeName</td>
                        <td>@Html.Raw(item.IsRequired ? "<span class=\"label label-info\">" + app.T["yes"] + "</span>" : "<span class=\"label label-default\">" + app.T["no"] + "</span>")</td>
                        <td>@Html.Raw(item.LogEnabled ? "<span class=\"label label-info\">" + app.T["enabled"] + "</span>" : "<span class=\"label label-default\">" + app.T["disabled"] + "</span>")</td>
                        <td>@item.CreatedOn</td>
                        <td>
                            <a class="btn btn-default btn-xs" href="@("/"+app.OrganizationUniqueName)/customize/attribute/editattribute?solutionid=@Model.SolutionId&id=@item.AttributeId">
                                <span class="glyphicon glyphicon-edit"></span> @app.T["edit"]
                            </a>
                            <a class="btn btn-warning btn-xs" href="javascript:Xms.Web.Del('@item.AttributeId','/customize/attribute/deleteattribute',false,rebind,null,'@app.T["attribute_delete_confirm"]',true)">
                                <span class="glyphicon glyphicon-trash"></span> @app.T["delete"]
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8" class="active">
                        <button type="button" class="btn btn-xs btn-primary" data-action="/customize/attribute/deleteattribute" data-role="delete" data-tooltip="@app.T["attribute_delete_confirm"]"><span class="glyphicon glyphicon-trash"></span> @app.T["batch_delete"]</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-4">
                @(app.T["pagination_label"].Replace("{page}", Model.Page.ToString()).Replace("{totalpages}", Model.TotalPages.ToString()).Replace("{totalitems}", Model.TotalItems.ToString()))
            </div>
            <div id="page-selection" class="col-sm-8" data-total="@Model.TotalPages" data-page="@Model.Page"></div>
        </div>
    </div>
</div>
@section Header {
}
@section Scripts {
    <script src="/content/js/jquery.bootpag.min.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery.form.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script>
        var pageUrl = '';
        $(function () {
            pageUrl = $("#datatable").attr('data-pageurl');
            $('#searchForm').ajaxSearch('#gridview', ajaxgrid_reset);
            $("#datatable").ajaxTable();
            ajaxgrid_reset();
        });
        function ajaxgrid_reset() {
            pag_init();
            $('#searchForm').ajaxSearch('#gridview', ajaxgrid_reset);
            Xms.Web.DataTable($("#datatable"));
        }
        function pag_init() {
            $('#page-selection').bootpag({
                total: $('#page-selection').attr('data-total')
                , maxVisible: 10
                , page: $('#page-selection').attr('data-page')
                , leaps: false
                , prev: '&lsaquo;'
                , next: '&rsaquo;'
                , firstLastUse: true
                , first: '&laquo;'
                , last: '&raquo;'
            }).on("page", function (event, /* page number here */ num) {
                event.preventDefault();
                pageUrl = $("#datatable").attr('data-pageurl');
                var url = $.setUrlParam(pageUrl, 'page', num);
                $("#gridview").ajaxLoad(url, "#gridview", function (response) {
                    ajaxgrid_reset();
                });
                return false;
            });
        }
        function rebind() {
            $('#searchForm').submit();
        }
    </script>
}