@using Xms.Solution.Abstractions;
@model Xms.Web.Customize.Models.WorkFlowModel

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>@app.PrivilegeTree?.LastOrDefault().DisplayName</strong>
            <div class="pull-right">
                <a class="btn btn-info btn-xs" data-toggle="collapse"
                   href="#collapseOne">
                    <span class="caret"></span> 查询
                </a>
                <a class="btn btn-info btn-xs" href="@("/"+app.OrganizationUniqueName)/customize/flow/createworkflow?solutionid=@Model.SolutionId"><span class="glyphicon glyphicon-file"></span> 新增审批流程</a>
                <a class="btn btn-info btn-xs" href="@("/"+app.OrganizationUniqueName)/customize/flow/createbusinessflow?solutionid=@Model.SolutionId"><span class="glyphicon glyphicon-file"></span> 新增业务流程</a>
            </div>
        </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <!--in-->
        <div class="panel-body">
            <form action="/@app.OrganizationUniqueName/customize/@app.ControllerName/@app.ActionName" method="get" id="searchForm" class="form-horizontal" role="form">
                @Html.HiddenFor(x => x.SolutionId)
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label" for="Name">名称</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-search"></span> 查询</button>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive" id="gridview">
        <table class="table table-hover table-striped table-condensed" id="datatable" data-refresh="rebind()" data-ajax="true" data-ajaxcontainer="gridview" data-ajaxcallback="ajaxgrid_reset()" data-sortby="@Model.SortBy.ToLower()" data-sortdirection="@Model.SortDirection" data-pageurl="@app.Url">
            <thead>
                <tr>
                    <th width="2%"><input type="checkbox" name="checkall" /></th>
                    <th data-name="name">
                        名称
                    </th>
                    <th data-name="category">
                        类型
                    </th>
                    <th>
                        描述
                    </th>
                    <th>
                        状态
                    </th>
                    <th width="15%" data-name="createdon">
                        创建时间
                    </th>
                    <th width="30%">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr data-dbclick="location.href='@("/"+app.OrganizationUniqueName)/customize/flow/@(item.Category == 1 ? "editworkflow":"editbusinessflow")?solutionid=@Model.SolutionId&id=@item.WorkFlowId'">
                        <td><input type="checkbox" value="@item.WorkFlowId" name="recordid" /></td>
                        <td>@item.Name</td>
                        <td>@(item.Category == 1 ? "审批流程" : "业务流程")</td>
                        <td>@item.Description</td>
                        <td>@Html.Raw(item.StateCode == Xms.Core.RecordState.Disabled ? "<span class=\"label label-default\">禁用</span>" : "<span class=\"label label-info\">启用</span>")</td>
                        <td>@item.CreatedOn</td>
                        <td>
                            <a class="btn btn-default btn-xs" href="@("/"+app.OrganizationUniqueName)/customize/flow/@(item.Category == 1 ? "editworkflow":"editbusinessflow")?id=@item.WorkFlowId"><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                            @if (item.Category == 1)
                            {
                                <a class="btn btn-info btn-xs hide" href="@("/"+app.OrganizationUniqueName)/customize/flow/flowdesign?id=@item.WorkFlowId"><span class="glyphicon glyphicon-edit"></span> 设计</a>
                                <a class="btn btn-info btn-xs" href="@("/"+app.OrganizationUniqueName)/customize/flow/WorkFlowInstances?workflowid=@item.WorkFlowId"><span class="glyphicon glyphicon-play"></span> 实例</a>
                            }
                            <a class="btn btn-default btn-xs" href="javascript:setPermissions(@(item.AuthorizationEnabled?"true":"false"),'@item.WorkFlowId','@(Xms.Flow.Core.WorkFlowDefaults.ModuleName)')"><span class="glyphicon glyphicon-lock"></span> 权限</a>
                            <a class="btn btn-warning btn-xs" href="javascript:Xms.Web.Del('@item.WorkFlowId','@("/"+app.OrganizationUniqueName)/customize/flow/deleteworkflow',false,rebind,null,'确定删除？请提前备份数据',true)"><span class="glyphicon glyphicon-trash"></span> 删除</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="active">
                        <div class="form-group form-inline" role="form">
                            <button type="button" class="btn btn-xs btn-primary" data-action="@("/"+app.OrganizationUniqueName)/customize/flow/deleteworkflow" data-role="delete" data-tooltip="删除后相关数据也将一并删除，请提前备份数据"><span class="glyphicon glyphicon-trash"></span> 批量删除</button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs btn-primary" data-action="@("/"+app.OrganizationUniqueName)/customize/flow/SetWorkFlowState?isenabled=true&solutionid=@Model.SolutionId" data-role="update"><span class="glyphicon glyphicon-ok-circle"></span> 启用</button>
                                <button type="button" class="btn btn-xs btn-primary" data-action="@("/"+app.OrganizationUniqueName)/customize/flow/SetWorkFlowState?isenabled=false&solutionid=@Model.SolutionId" data-role="update"><span class="glyphicon glyphicon-ban-circle"></span> 禁用</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-4">@("当前" + @Model.Page + "/" + @Model.TotalPages + "页, 共" + @Model.TotalItems + "行记录")</div>
                <div id="page-selection" class="col-sm-8" data-total="@Model.TotalPages" data-page="@Model.Page"></div>
            </div>
        </div>
    </div>
</div>
@section Header {
}
@section Scripts {
    <script src="/content/js/jquery.bootpag.min.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery.form.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script>
        var pageUrl = '';
        $(function () {
            pageUrl = $("#datatable").attr('data-pageurl');

            $('#ShowArea').picklist({
                items: [{ label: 'Form', value: 'Form' }, { label: 'ListHead', value: 'ListHead' }, { label: 'ListRow', value: 'ListRow' }, { label: 'SubGrid', value: 'SubGrid' }]
            });

            $('#searchForm').ajaxSearch('#gridview', ajaxgrid_reset);
            $("#datatable").ajaxTable();
            ajaxgrid_reset();
        });
        function ajaxgrid_reset() {
            pag_init();
            Xms.Web.DataTable($("#datatable"));
        }
        function pag_init() {
            $('#page-selection').bootpag({
                total: $('#page-selection').attr('data-total')
                , maxVisible: 10
                , page: $('#page-selection').attr('data-page')
                , leaps: false
                , prev: '&lsaquo;'
                , next: '&rsaquo;'
                , firstLastUse: true
                , first: '&laquo;'
                , last: '&raquo;'
            }).on("page", function (event, /* page number here */ num) {
                event.preventDefault();
                pageUrl = $("#datatable").attr('data-pageurl');
                var url = $.setUrlParam(pageUrl, 'page', num);
                $("#gridview").ajaxLoad(url, "#gridview", function (response) {
                    ajaxgrid_reset();
                });
                return false;
            });
        }
        function rebind() {
            $('#searchForm').submit();
        }
        function setPermissions(enabledAuth, objectid, typecode) {
            Xms.Web.OpenDialog('/security/AssigningObjectRoles', null , {callback:'setPermissions_Callback', EnabledAuthorization:enabledAuth,objectid:objectid,objecttypename:typecode});
        }
        function setPermissions_Callback(result, model) {
            Xms.Web.Post(ORG_SERVERURL + '/customize/flow/SetAuthorizationState', { recordid: [model.objectid], isAuthorization: model.enabledauthorization }, false, function (response) {
                //Xms.Web.Alert(response.IsSuccess, response.Content);
                if (response.IsSuccess) {
                    rebind();
                }
            });
        }
    </script>
}