@using Xms.Flow.Abstractions;
@model Xms.Web.Customize.Models.WorkFlowInstanceModel

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>@app.PrivilegeTree?.LastOrDefault().DisplayName</strong>
        </div>
    </div>
    <div class="panel-body">
        <form id="searchForm" class="hide"></form>
        <div class="table-responsive" id="gridview">
            <table class="table table-hover table-striped table-condensed" id="datatable" data-refresh="rebind()" data-ajax="true" data-ajaxcontainer="gridview" data-ajaxcallback="ajaxgrid_reset()" data-sortby="@Model.SortBy.ToLower()" data-sortdirection="@Model.SortDirection" data-pageurl="@app.Url">
                <thead>
                    <tr>
                        <th width="2%"><input type="checkbox" name="checkall" /></th>
                        <th width="15%" data-name="applicantid">
                            提交者
                        </th>
                        <th width="15%" data-name="statecode">
                            状态
                        </th>
                        <th>
                            说明
                        </th>
                        <th width="15%" data-name="createdon">
                            开始时间
                        </th>
                        <th width="15%" data-name="completedon">
                            结束时间
                        </th>
                        <th width="15%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr data-dbclick="location.href='@("/"+app.OrganizationUniqueName)/customize/flow/WorkFlowProcess?WorkFlowInstanceId=@item.WorkFlowInstanceId'">
                            <td><input type="checkbox" value="@item.WorkFlowInstanceId" name="recordid" /></td>
                            <td>@item.ApplicantName</td>
                            <td>
                                @if (item.StateCode == WorkFlowProcessState.Processing)
                                {
                                    <span class="label label-info">处理中</span>
                                }
                                else if (item.StateCode == WorkFlowProcessState.Waiting)
                                {
                                    <span class="label label-default">等待中</span>
                                }
                                else if (item.StateCode == WorkFlowProcessState.Passed)
                                {
                                    <p class="label label-success"><span class="glyphicon glyphicon-ok"></span> 通过</p>
                                }
                                else if (item.StateCode == WorkFlowProcessState.UnPassed)
                                {
                                    <p class="label label-danger"><span class="glyphicon glyphicon-remove"></span> 不通过</p>
                                }
                                else if (item.StateCode == WorkFlowProcessState.Disabled)
                                {
                                    <span class="label label-default">作废</span>
                                }
                                else if (item.StateCode == WorkFlowProcessState.Canceled)
                                {
                                    <span class="label label-default">已撤消</span>
                                }
                            </td>
                            <td>@item.Description</td>
                            <td>@item.CreatedOn</td>
                            <td>@item.CompletedOn</td>
                            <td>
                                <a class="btn btn-info btn-xs" href="@("/"+app.OrganizationUniqueName)/customize/flow/WorkFlowProcess?WorkFlowInstanceId=@item.WorkFlowInstanceId">
                                    <span class="glyphicon glyphicon-th"></span> 详情
                                </a>
                                <a class="btn btn-warning btn-xs@(item.StateCode == WorkFlowProcessState.Processing ? "":" hide")" href="javascript:Cancel('@item.WorkFlowInstanceId')"><span class="glyphicon glyphicon-refresh"></span> 撤消</a>
                                <a class="btn btn-info btn-xs hide"><span class="glyphicon glyphicon-share-alt"></span> 指派</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-4">
                        @(app.T["pagination_label"].Replace("{page}", Model.Page.ToString()).Replace("{totalpages}", Model.TotalPages.ToString()).Replace("{totalitems}", Model.TotalItems.ToString()))
                    </div>
                    <div id="page-selection" class="col-sm-8" data-total="@Model.TotalPages" data-page="@Model.Page"></div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Header {
}
@section Scripts {
    <script src="/content/js/jquery.bootpag.min.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery.form.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script>
        var pageUrl = '';
        $(function () {
            pageUrl = $("#datatable").attr('data-pageurl');

            $('#ShowArea').picklist({
                items: [{ label: 'Form', value: 'Form' }, { label: 'ListHead', value: 'ListHead' }, { label: 'ListRow', value: 'ListRow' }, { label: 'SubGrid', value: 'SubGrid' }]
            });

            $('#searchForm').ajaxSearch('#gridview', ajaxgrid_reset);
            $("#datatable").ajaxTable();
            ajaxgrid_reset();
        });
        function ajaxgrid_reset() {
            pag_init();
            Xms.Web.DataTable($("#datatable"));
        }
        function pag_init() {
            $('#page-selection').bootpag({
                total: $('#page-selection').attr('data-total')
                , maxVisible: 10
                , page: $('#page-selection').attr('data-page')
                , leaps: false
                , prev: '&lsaquo;'
                , next: '&rsaquo;'
                , firstLastUse: true
                , first: '&laquo;'
                , last: '&raquo;'
            }).on("page", function (event, /* page number here */ num) {
                event.preventDefault();
                pageUrl = $("#datatable").attr('data-pageurl');
                var url = $.setUrlParam(pageUrl, 'page', num);
                $("#gridview").ajaxLoad(url, "#gridview", function (response) {
                    ajaxgrid_reset();
                });
                return false;
            });
        }
        function rebind() {
            $('#searchForm').submit();
        }
        function Cancel(id) {
            Xms.Web.Confirm('撤消', '确定要撤消吗？', function () {
                Xms.Ajax.Post(ORG_SERVERURL + '/api/workflow/cancel/' + id, null, function (response) {
                    //Xms.toast(response.IsSuccess, response.Content);
                    rebind();
                });
            });
        }
    </script>
}