@using Xms;
@using Xms.Schema.Extensions;
@using Xms.Schema.Domain;
@model ImportMapModel
@{
    Layout = null;
}
@{
    DialogModel dialogModel = ViewBag.dialogmodel as DialogModel;
    Dictionary<string, object> mapData = ViewBag.mapdata as Dictionary<string, object>;
}
<!-- （Modal） -->
<div class="modal fade" id="importMapModal" tabindex="-1" role="dialog"
     aria-labelledby="importMapModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="navGroupModalLabel">
                    映射记录
                </h4>
            </div>
            <div class="modal-body" style="height:400px;overflow:auto;">
                <form id="importForm" action="/entity/importdata" method="post">
                    @Html.HiddenFor(x => x.EntityId)
                    <div class="form-group">
                        <label for="" class="control-label">目标记录类型</label>
                        <select id="targetEntity" class="form-control input-sm">
                            <option>客户</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <table class="table table-bordered" id="mapping">
                            <thead><tr><th class="col-sm-4">源字段</th><th>目标字段</th></tr></thead>
                            <tbody>
                                @foreach (var item in Model.MapData)
                                {
                                    var a = item.Value;
                                    bool isConfigAttr = a != null && (a.TypeIsBit() || a.TypeIsPickList() || a.TypeIsLookUp() || a.TypeIsOwner() || a.TypeIsState() || a.TypeIsStatus());
                                    var canMapAttributes = Model.Attributes.Where(n => n.AttributeTypeName == a.AttributeTypeName);
                                    if (a.TypeIsPickList() && a.OptionSetId.HasValue)
                                    {
                                        canMapAttributes = canMapAttributes.Where(n => n.OptionSetId == a.OptionSetId);
                                    }
                                    <tr>
                                        <td>@item.Key</td>
                                        <td data-optionsetid="@a.OptionSetId" data-referencedentityid="@a.ReferencedEntityId" data-referencedentityname="@a.ReferencedEntityName">
                                            <div class="input-group col-sm-12">
                                                @if (isConfigAttr)
                                                {
                                                    <span class="input-group-btn" name="configBtn">
                                                        <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-cog"></span></button>
                                                    </span>
                                                }
                                                <select class="form-control input-sm" name="fields">
                                                    <option value="">忽略</option>
                                                    @foreach (var attr in canMapAttributes)
                                                    {
                                                        var optionname = attr.LocalizedName;
                                                        if (attr.TypeIsBit() || attr.TypeIsState())
                                                        {
                                                            optionname += "(是/否)";
                                                        }
                                                        else if (attr.TypeIsPickList() || a.TypeIsStatus())
                                                        {
                                                            optionname += "(选项集)";
                                                        }
                                                        else if (attr.TypeIsLookUp() || a.TypeIsOwner())
                                                        {
                                                            optionname += "(引用)";
                                                        }
                                                        <option data-type="@attr.AttributeTypeName" value="@attr.Name" @(a!=null && a.Name == attr.Name ? " selected" :"")>
                                                            @optionname
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                            @*@if (isConfigAttr && (a.TypeIsPickList() || a.TypeIsStatus()))
                                                {
                                                    <div class="form-group" style="margin-top:5px;" name="configSection">
                                                        <div class="col-sm-9">
                                                        <select class="form-control input-sm">
                                                            <optgroup label="操作"></optgroup>
                                                            <option>忽略</option>
                                                            <option>默认值</option>
                                                            <optgroup label="系统选项"></optgroup>
                                                            @foreach (var ositem in a.OptionSet.Items)
                                                            {

                                                                <option>
                                                                    @ositem.Name
                                                                </option>
                                                            }
                                                            </select>
                                                        </div>
                                                </div>
                                                }*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
                <script src="/content/js/jquery.form.js?v=@app.PlatformSettings.VersionNumber"></script>
                <script>
                    var ImportMapModel = {
                        dialogid: '#importMapModal',
                        dialog: $('#importMapModal'),
                        callback : @dialogModel.CallBack,
                        submit: function () {
                            $('#importForm').ajaxSubmit(function (response) {
                                console.log(response);
                                if(response.IsSuccess){
                                    rebind();
                                }
                                Xms.Web.Alert(response.IsSuccess, response.Content, function(){
                                    ImportMapModel.dialog.modal('hide');
                                });
                            });
                        }
                    };
                    $(function () {
                        ImportMapModel.dialog.modal({
                            backdrop: 'static'
                        });
                        ImportMapModel.dialog.on('hidden.bs.modal', function () {
                            Xms.Web.CloseDialog(ImportMapModel.dialogid);
                        });
                        $(ImportMapModel.dialogid + ' button[name=submitBtn]').off('click').on('click', null, function (e) {
                            ImportMapModel.submit();
                        });
                        ImportMapModel.dialog.find('#mapping').on('click', '[name=configBtn]>.btn', function(){
                            var $this = $(this);
                            if($this.parents('td').find('[name=configSection]').length > 0){
                                $this.parents('td').find('[name=configSection]').toggleClass('hide');
                                return;
                            }
                            var selector = $this.parents('td').find('select[name=fields]');
                            var type = selector.find('option:selected').attr('data-type');
                            var _html = [];
                            _html.push('<div class="form-group hide" style="margin-top:5px;" name="configSection">');
                            if(type == 'picklist' || type == 'status'){
                                _html.push('<div class="col-sm-9">');
                                _html.push('<select class="form-control input-sm">');
                                _html.push('<optgroup label="操作"></optgroup>');
                                _html.push('<option>忽略</option>');
                                _html.push('<option>默认值</option>');
                                _html.push('<optgroup label="系统选项"></optgroup>');
                                Xms.Web.GetJsonsync('/api/schema/RetriveOptionItems?optionsetid='+$this.parents('td').attr('data-optionsetid'),null, function(response){
                                    $(response.content).each(function(i, n){
                                        _html.push('<option value="'+n.value+'">'+n.name+'</option>');
                                    });
                                });
                                _html.push('</select>');
                                _html.push('</div>');
                            }
                            else if(type == 'bit' || type == 'state'){
                                _html.push('<div class="col-sm-9">');
                                _html.push('<select class="form-control input-sm">');
                                _html.push('<optgroup label="操作"></optgroup>');
                                _html.push('<option>忽略</option>');
                                _html.push('<option>默认值</option>');
                                _html.push('<optgroup label="系统选项"></optgroup>');
                                Xms.Web.GetJsonsync('/api/schema/stringmap/'+$this.parents('td').attr('data-attributeid'),null, function(response){
                                    $(response.content).each(function(i, n){
                                        _html.push('<option value="'+n.value+'">'+n.name+'</option>');
                                    });
                                });
                                _html.push('</select>');
                                _html.push('</div>');
                            }
                            else if(type == 'lookup' || type == 'owner'){
                                var refentityname = $this.parents('td').attr('data-referencedentityname');
                                Xms.Web.GetJsonsync('/api/schema/attribute/getbyentityname/'+refentityname,null, function(response){
                                    console.log(response);
                                    _html.push('<label class="control-label col-sm-3">'+response.content[0].entitylocalizedname+'</label>');
                                    _html.push('<div class="col-sm-9">');
                                    _html.push('<span class="text-muted">'+response.content[0].entitylocalizedname+'(主键),名称</span>');
                                    _html.push('</div>');
                                    //$(response.content).each(function(i, n){
                                    //    _html.push('<option value="'+n.attributeid+'">'+n.localizedname+'</option>');
                                    //});
                                });
                            }
                            _html.push('</div>');
                            $this.parents('td').append($(_html.join('')).removeClass('hide'));
                        });
                        ImportMapModel.dialog.find('#mapping').on('click', '[name=fields]', function(){
                            var $this = $(this);
                            var type = $this.find('option:selected').attr('data-type');
                            if(type == 'picklist' || type == 'lookup'){
                                $this.prev().removeClass('hide');
                            }
                            else{
                                $this.prev().addClass('hide');
                            }
                            $this.parents('td').find('[name=configSection]').remove();
                        });
                    });
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> 取消
                </button>
                <button type="button" class="btn btn-primary" name="submitBtn">
                    <span class="glyphicon glyphicon-ok"></span> 下一步
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->