@model Xms.Web.Customize.Models.WebResourceModel
@{
    Layout = null;
}
@{
    Xms.Web.Models.DialogModel dialogModel = ViewData["DialogModel"] as Xms.Web.Models.DialogModel;
}
<!-- （Modal） -->
<div class="modal fade" id="webResourceModal" tabindex="-1" role="dialog"
     aria-labelledby="webResourceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="webResourceModalLabel">
                    <span class="glyphicon glyphicon-th"></span> Web资源
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @using (Html.BeginRouteForm("Customize", FormMethod.Get, new { @id = "searchForm", @class = "form-horizontal", @role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("CallBack", dialogModel.CallBack)
                        <div class="form-group col-sm-12" style="height:30px;margin-bottom:0px;">

                            <label class="col-sm-2 control-label" for="clientip">@app.T["name"]</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control input-sm" })
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="submit">
                                            <span class="glyphicon glyphicon-search"></span> @app.T["search"]
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="table-responsive" id="gridview">
                    <table class="table table-striped table-hover table-condensed datatable" id="datatable" data-ajax="true" data-ajaxcontainer="gridview" data-ajaxcallback="ajaxgrid_reset()" data-sortby="@Model.SortBy.ToLower()" data-sortdirection="@Model.SortDirection" data-singlemode="@dialogModel.SingleMode">
                        <thead>
                            <tr>
                                <th width="2%"><input type="checkbox" name="checkall" /></th>
                                <th data-name="name">
                                    名称
                                </th>
                                <th data-name="description">
                                    描述
                                </th>
                                <th width="2%">
                                    选择
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr data-dbclick="WebResourcesModel.selectedrow('@item.WebResourceId')">
                                    <td><input type="checkbox" value="@item.WebResourceId" name="recordid" /></td>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>
                                        <a class="btn btn-link btn-xs" onclick="Xms.Web.SelectingRow(this);WebResourcesModel.dialog_return();"><span class="glyphicon glyphicon-ok"></span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-4">@("当前" + @Model.Page + "/" + @Model.TotalPages + "页, 共" + @Model.TotalItems + "行记录")</div>
                            <div id="page-selection" class="col-sm-8" data-total="@Model.TotalPages" data-page="@Model.Page"></div>
                        </div>
                    </div>
                    <script src="/content/js/jquery.bootpag.min.js?v=@app.PlatformSettings.VersionNumber"></script>
                    <script src="/content/js/jquery.form.js?v=@app.PlatformSettings.VersionNumber"></script>
                    <script>
                        var WebResourcesModel = {
                            dialogid: '#webResourceModal',
                            dialog: $('#webResourceModal'),
                            callback : @dialogModel.CallBack,
                            datatable: $("#webResourceModal .datatable"),
                            gridview: $("#webResourceModal #gridview"),
                            searchform: $('#webResourceModal #searchForm'),
                            pagesection: $('#webResourceModal #page-selection'),
                            pageUrl : '@app.Url',
                            callback : @dialogModel.CallBack,
                            inputid : '@dialogModel.InputId',
                            solutionid:'@Model.SolutionId',
                            ajaxgrid_reset : function () {
                                WebResourcesModel.pag_init();
                                Xms.Web.DataTable(WebResourcesModel.datatable);
                            },
                            pag_init: function () {
                                WebResourcesModel.pagesection.bootpag({
                                    total: WebResourcesModel.pagesection.attr('data-total')
                                    , maxVisible: 5
                                    , page: WebResourcesModel.pagesection.attr('data-page')
                                    , leaps: false
                                    , prev: '&lsaquo;'
                                    , next: '&rsaquo;'
                                    , firstLastUse: true
                                    , first: '&laquo;'
                                    , last: '&raquo;'
                                }).on("page", function (event, /* page number here */ num) {
                                    event.preventDefault();
                                    var url = $.setUrlParam(WebResourcesModel.pageUrl, 'page', num);
                                    WebResourcesModel.gridview.ajaxLoad(url, WebResourcesModel.gridview.prop('id'), function (response) {
                                        WebResourcesModel.ajaxgrid_reset();
                                    });
                                    return false;
                                });
                            },
                            dialog_return : function () {
                                var result = new Array();
                                $("#webResourceModal .datatable").find("input[name=recordid]:checked").each(function (i, n) {
                                    var obj = new Object();
                                    var $that = $(this);
                                    obj.id = $(n).val();
                                    $("#webResourceModal .datatable").find('thead>tr>th[data-name]').each(function(i, nn){
                                        var idx = $(nn).index();
                                        console.log($that.parents('tr:first').find('td:eq('+idx+')'));
                                        var value = $that.parents('tr:first').find('td:eq('+idx+')').text();
                                       // eval('obj.' +  + '="' + value + '"');
                                        obj[$(nn).attr('data-name')] = value;
                                    });
                                    //obj.name = $(n).parents('tr:first').find('td:eq('+idx+')').text();
                                    result.push(obj);
                                });
                                console.log("return",result);
                                WebResourcesModel.callback(result,WebResourcesModel.inputid);
                                WebResourcesModel.dialog.modal('hide');
                            }
                            ,selectedrow: function(id){
                                var result = new Array();
                                $("#webResourceModal .datatable").find("input[value="+id+"]").each(function (i, n) {
                                    var obj = new Object();
                                    obj.id = $(n).val();
                                    $("#webResourceModal .datatable").find('thead>tr>th[data-name]').each(function(i, nn){
                                        var idx = $("#webResourceModal .datatable").find('thead>tr>th').index($(nn));
                                        var value = $(n).parents('tr:first').find('td:eq('+idx+')').text();
                                        eval('obj.' + $(nn).attr('data-name') + '="' + value + '"');
                                    });
                                    //obj.name = $(n).parents('tr:first').find('td:eq('+idx+')').text();
                                    result.push(obj);
                                });
                                console.log("return",result);
                                WebResourcesModel.callback(result,WebResourcesModel.inputid);
                                WebResourcesModel.dialog.modal('hide');
                            }
                            ,CreateRecord: function(){
                                Xms.Web.OpenWindow(ORG_SERVERURL +'/customize/webresource/createwebresource?solutionid=' + (WebResourcesModel.solutionid || $.getUrlParam('solutionid')));
                            }
                        };

                        $(function () {
                            WebResourcesModel.ajaxgrid_reset();
                            WebResourcesModel.searchform.ajaxSearch('#'+WebResourcesModel.gridview.prop('id'), WebResourcesModel.ajaxgrid_reset);
                            WebResourcesModel.datatable.ajaxTable();
                            WebResourcesModel.dialog.modal({
                                backdrop:'static'
                            });
                            $("#webResourceModal .datatable").on('hidden.bs.modal', function () {
                                Xms.Web.CloseDialog(WebResourcesModel.dialogid);
                            });
                            $("#webResourceModal .datatable").find('button[name=createBtn]').off('click').on('click',null,function(e){
                                WebResourcesModel.CreateRecord();
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-link" name="createBtn">
                        <span class="glyphicon glyphicon-plus-sign"></span> 新建
                    </button>
                </div>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> 关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="WebResourcesModel.dialog_return()">
                    <span class="glyphicon glyphicon-ok"></span> 确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->