@model Xms.Web.Customize.Models.SerialNumberModel

<div class="panel panel-info" id="gridview">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>@app.PrivilegeTree?.LastOrDefault().DisplayName</strong>
            <div class="pull-right">
                <a class="btn btn-info btn-xs" data-toggle="collapse"
                   href="#collapseOne">
                    <span class="caret"></span> @app.T["search"]
                </a>
                <a class="btn btn-info btn-xs" href="@("/"+app.OrganizationUniqueName)/customize/serialnumber/CreateSerialNumber?solutionid=@Model.SolutionId"><span class="glyphicon glyphicon-file"></span> @app.T["add"]</a>
            </div>
        </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <!--in-->
        <div class="panel-body">
            <form action="/@app.OrganizationUniqueName/customize/@app.ControllerName/@app.ActionName" method="get" id="searchForm" class="form-horizontal" role="form">
                @Html.ValidationSummary()
                @Html.HiddenFor(x => x.SolutionId)
                @Html.HiddenFor(x => x.EntityId)
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label" for="Name">@app.T["name"]</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-search"></span> @app.T["search"]</button>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-condensed" id="datatable" data-refresh="rebind()" data-ajax="true" data-ajaxcontainer="gridview" data-ajaxcallback="ajaxgrid_reset()" data-sortby="@Model.SortBy.ToLower()" data-sortdirection="@Model.SortDirection" data-pageurl="@app.Url">
            <thead>
                <tr>
                    <th width="2%"><input type="checkbox" name="checkall" /></th>
                    <th width="15%" data-name="name">
                        @app.T["name"]
                    </th>
                    <th width="15%" data-name="name">
                        @app.T["entity_field"]
                    </th>
                    <th data-name="description">
                        @app.T["description"]
                    </th>
                    <th width="5%" data-name="statecode">
                        @app.T["statecode"]
                    </th>
                    <th width="15%" data-name="createdon">
                        @app.T["create_time"]
                    </th>
                    <th width="20%">@app.T["operation"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr data-dbclick="location.href='@("/"+app.OrganizationUniqueName)/customize/serialnumber/editserialnumber?solutionid=@Model.SolutionId&id=@item.SerialNumberRuleId'">
                        <td><input type="checkbox" value="@item.SerialNumberRuleId" name="recordid" /></td>
                        <td>@item.Name</td>
                        <td>@(item.AttributeName + "(" + item.EntityName + ")")</td>
                        <td>@item.Description</td>
                        <td>@Html.Raw(item.StateCode == Xms.Core.RecordState.Disabled ? "<span class=\"label label-default\">" + app.T["disabled"] + "</span>" : "<span class=\"label label-info\">" + app.T["enabled"] + "</span>")</td>
                        <td>@item.CreatedOn</td>
                        <td>
                            <a class="btn btn-default btn-xs" href="@("/"+app.OrganizationUniqueName)/customize/serialnumber/editserialnumber?id=@item.SerialNumberRuleId"><span class="glyphicon glyphicon-edit"></span> @app.T["edit"]</a>
                            <a class="btn btn-warning btn-xs" href="javascript:Xms.Web.Del('@item.SerialNumberRuleId','@("/"+app.OrganizationUniqueName)/customize/serialnumber/deleteserialnumber',false,rebind,null,'确定删除？提前备份数据',true)"><span class="glyphicon glyphicon-trash"></span> @app.T["delete"]</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="active">
                        <div class="form-group form-inline" role="form">
                            <button type="button" class="btn btn-xs btn-primary" data-action="@("/"+app.OrganizationUniqueName)/customize/serialnumber/deleteserialnumber" data-role="delete" data-tooltip="删除后相关数据也将一并删除，请提前备份数据"><span class="glyphicon glyphicon-trash"></span> @app.T["batch_delete"]</button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs btn-primary" data-action="@("/"+app.OrganizationUniqueName)/customize/serialnumber/SetSerialNumberRuleState?isenabled=true" data-role="update"><span class="glyphicon glyphicon-ok-circle"></span> @app.T["enabled"]</button>
                                <button type="button" class="btn btn-xs btn-primary" data-action="@("/"+app.OrganizationUniqueName)/customize/serialnumber/SetSerialNumberRuleState?isenabled=false" data-role="update"><span class="glyphicon glyphicon-ban-circle"></span> @app.T["disabled"]</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-4">
                @(app.T["pagination_label"].Replace("{page}", Model.Page.ToString()).Replace("{totalpages}", Model.TotalPages.ToString()).Replace("{totalitems}", Model.TotalItems.ToString()))
            </div>
            <div id="page-selection" class="col-sm-8" data-total="@Model.TotalPages" data-page="@Model.Page"></div>
        </div>
    </div>
</div>

<script src="/content/js/jquery.bootpag.min.js?v=@app.PlatformSettings.VersionNumber"></script>
<script src="/content/js/jquery.form.js?v=@app.PlatformSettings.VersionNumber"></script>
<script>
    var pageUrl = '';
    $(function () {
        pageUrl = $("#datatable").attr('data-pageurl');
        $('#searchForm').ajaxSearch('#gridview', ajaxgrid_reset);
        $("#datatable").ajaxTable();
        ajaxgrid_reset();
    });
    function ajaxgrid_reset() {
        pag_init();
        Xms.Web.DataTable($("#datatable"));
    }
    function pag_init() {
        $('#page-selection').bootpag({
            total: $('#page-selection').attr('data-total')
            , maxVisible: 10
            , page: $('#page-selection').attr('data-page')
            , leaps: false
            , prev: '&lsaquo;'
            , next: '&rsaquo;'
            , firstLastUse: true
            , first: '&laquo;'
            , last: '&raquo;'
        }).on("page", function (event, /* page number here */ num) {
            event.preventDefault();
            pageUrl = $("#datatable").attr('data-pageurl');
            var url = $.setUrlParam(pageUrl, 'page', num);
            $("#gridview").ajaxLoad(url, "#gridview", function (response) {
                ajaxgrid_reset();
            });
            return false;
        });
    }
    function rebind() {
        console.log('rebind');
        $('#searchForm').submit();
    }
</script>
@section Header {
}
@section Scripts {
}