@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="xms">
    <meta name="author" content="Xms">
    <link rel="icon" href="/favicon.ico">

    <title>@app.PageTitle</title>

    <!-- Bootstrap core CSS -->
    <link href="/content/css/bootstrap3.3.5/bootstrap.min.css?v=@app.PlatformSettings.VersionNumber" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/content/css/font-awesome.min.css?v=@app.PlatformSettings.VersionNumber" rel="stylesheet">
    <link href="/content/css/common.css?v=@app.PlatformSettings.VersionNumber" rel="stylesheet">
    <link href="/content/js/jquery-toast/jquery.toast.min.css?v=@app.PlatformSettings.VersionNumber" rel="stylesheet">
    <link id="themeLink" href="~/content/css/theme/@(app.Theme).css" rel="stylesheet" />
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/content/js/jquery.min.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/bootstrap.min.js?v=@app.PlatformSettings.VersionNumber"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/content/js/ie10-viewport-bug-workaround.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery.bootstrap.min.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/json2.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/xms.utility.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery-ui-1.10.3/ui/jquery.ui.core.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery-ui-1.10.3/ui/jquery.ui.widget.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery-ui-1.10.3/ui/jquery.ui.mouse.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery-ui-1.10.3/ui/jquery.ui.draggable.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/jquery-toast/jquery.toast.min.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/xms.jquery.js?v=@app.PlatformSettings.VersionNumber"></script>
    <script src="/content/js/xms.web.js?v=@app.PlatformSettings.VersionNumber"></script>
    @{await Html.RenderPartialAsync("UserContext"); }
    <script>
        jQuery(function () {
            Xms.Web.Loading();
            if (typeof parent !== 'undefined') {
                if (parent != window) {//判断当前页面是否为子页面
                    $('body').addClass('xms-subpage');
                }
            }
        });
        function changeTheme(body,themename) {
            $("#themeLink").attr('href', '/content/css/theme/' + themename+'.css');
        }
    </script>
    @{await Html.RenderPartialAsync("CommonLabel"); }
    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header")
    }
    <style>
        body {
            padding-top: 0;
        }
    </style>
</head>

<body data-spy="scroll" data-target="#myScrollspy">
    <div class="container-fluid" id="body">
        <div class="row">
            <div class="shadeBox" style="background-color:#000000; opacity:0.5;width:100%;position:absolute;z-index:10;display:none;"></div>
            <div class="col-md-12" id="main" style="margin-bottom:80px;">
                @*<div style="margin-left: -15px; margin-right: -15px;">
                        <ol class="breadcrumb">
                            <li>&rsaquo;&rsaquo;</li>
                            @foreach (var item in app.PrivilegeTree)
                            {
                                var url = item.Url.IsNotEmpty() ? "/" + app.OrganizationUniqueName + item.Url : "#";
                                @:
                                <li><a href="@url">@item.DisplayName</a></li>
                            }
                            <li class="pull-right hide">
                                <a href="@app.UrlReferrer">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                    @app.T["goback"]
                                </a>
                            </li>
                        </ol>
                    </div>*@
                <div><br class="breadcrumb" /></div>
                <div id="content"></div>
                <div class="page-render-wrap">
                    <!--main-->
                    @RenderBody()
                </div>
                <nav class="navbar navbar-default navbar-fixed-bottom hide" role="navigation" id="body-footer">
                    <div class="container">
                        <div class="navbar-form navbar-right" id="body-footer-content">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>